#feedback {
  background: radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 0.226) 0%, rgba(0,0,0,0.95) 100%), black;
}
#container {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 100%;
  padding: 24px 32px;
  background: #1DB954;
  color: #fff;
  text-align: center;
}
#artists {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 16px 24px;
  background: white;
  border-radius: 50px;
  text-align: left;
  color: gray;
  font-size: 15px;
}
#artists img {
  float: right;
  max-width: 20px;
  max-height: 20px;
  margin: 0 0 0 12px;
}